*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    color: inherit;
    text-decoration: none;
}
body{
    display: grid;
    grid-template-columns: 20% 1fr;
    padding-top: 4rem;
}

.sidebar{
    /* border: 1px solid red; */
    height: 100vh;
    background: rgb(19, 9, 212);
background: linear-gradient(67deg, rgba(2,0,36,1) 0%, rgba(2,212,255,1) 0%, rgba(63,80,56,1) 0%, rgba(25,111,128,1) 36%);
padding: .2rem;
}

.profile-div{
    padding: 1rem;

}

.profile{
    display: grid;
    grid-template-columns:auto 9rem auto;
    gap: .5rem;
    border: 1px solid red;
}

.profile .image{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    border-radius: 50%;
}

.profile .image img{
    height: 80%;
    width: 80%;
    object-fit: cover;
    border-radius: 50%;

}

.admin-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

.admin-details p{
    font-size: 1.2rem;
    color: white;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.admin-status{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.status-color{
    width: 1rem;
    height: 1rem;
    background-color: rgb(54, 247, 54);
    border-radius: 50%;
}

.log-btn{
    background: transparent;
    border: none;
}

.log-btn i{
    font-size: 2rem;
}


.profile-stat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    height: 5rem;
    margin-top: 1rem;
}

.stat-cards{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #ffffff1f;
    border-radius: .5rem;

}

.stat-cards h5{
    color: white;
    font-size: 1.1rem;
}
.stat-cards p{
    color: rgb(206, 189, 189);
    font-size: 1rem;
}

.sidebar-body{
    /* border: 1px solid red; */
}

.body-item{
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-self: center;
    gap: 1rem;
}


.body-item-main{
    color: rgba(255, 255, 255, 0.719);
    
}



.active-color-div{
    width: .3rem;
    height: 100%;
}

.item-info{
    font-size: 1.3rem;
    vertical-align: middle;
    display: flex;
    align-self: center;
    gap: 1.5rem;
}

.sub-item{
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding-left: 5rem;
    color: rgba(255, 255, 255, 0.719);
}

.top-item:hover{
    background: linear-gradient(67deg, rgba(2,0,36,1) 0%, rgba(2,212,255,1) 0%, rgba(63,80,56,1) 0%, rgba(36, 143, 165, 0.664) 36%);
    color: white;
}
.top-item:active{
    background: linear-gradient(67deg, rgba(2,0,36,1) 0%, rgba(2,212,255,1) 0%, rgba(63,80,56,1) 0%, rgba(10, 57, 66, 0.664) 36%);
}

.sub-item:hover{
    background: linear-gradient(67deg, rgba(2,0,36,1) 0%, rgba(2,212,255,1) 0%, rgba(63,80,56,1) 0%, rgba(36, 143, 165, 0.664) );
    color: rgba(255, 255, 255, 0.819);

}

.active-color{
    background-color: white;
}
.active-item{
   color: white;
}

.create-event{
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    background: rgb(2,0,36);
    background: linear-gradient(67deg, rgba(2,0,36,1) 0%, rgba(2,212,255,1) 0%, rgba(69,237,6,1) 0%, rgba(34,175,171,1) 52%);
    color: white;
    border: none;
    
}



header{
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

/* header div{
    border: 1px solid red;
} */

.header-name{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.header-name i{
    font-size: 1.5rem;
}

.header-search{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(248, 248, 248);
}

.header-search input{
    width: 90%;
    height: 80%;
    padding: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
}

input::placeholder{
    font-size: 1rem;
}

.search-btn{
    width: 10%;
    height: 80%;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}
.header-info{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    gap: 1rem;

}

.header-info P{
    display: flex;
    gap: .5rem;
    cursor: pointer;
}

.header-info p:hover{
    opacity: .7;
}

.header-profile{
    display: flex;
    height: 90%;
    align-items: center;
    font-size: 1.2rem;
    justify-content: end;
    gap: 1rem;
    padding-right: 1rem;

}

.header-profile i{
    font-size: 1.5rem;
    cursor: pointer;
}

header .image{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

header .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.main-body{
    padding: 2rem;
}
.body-header{
    font-size: 3rem;
}

.header-p{
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
}

.header-loc{
    color: rgba(25,111,128,1) ;
}

.dash-card-div{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    margin-top: 2rem;
}

.dash-card{
    background-color: red;
    height: 10rem;
    display: flex;

}



/* .header-info i{
    background-color: #fff;
    color: red;
    border: 1px solid black;
} */






