body {
    font-family: Arial, sans-serif;
    overflow: auto;
}

.table-container {
    margin-top: 1rem;
    width: 100%;
    overflow: auto;
    position: relative;

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
    font-size: 1.2rem;


}

table th{
    grid-template-columns: 25% auto auto auto auto auto 1fr;
}

th {
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
}

tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

tr button {
    border: none;
    color: white;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.edit {
    background-color: blue;
}

.delete {
    background-color: red;
}

.edit:hover {
    background-color: darkblue;
}

.delete:hover {
    background-color: darkred;
}

.edit,.delete{
    flex :1;
    min-width: 3rem;
}

.action-btns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5rem;

}


@media screen and (max-width: 770px) {
    .table-container {
        overflow: auto;
    }
    table {
        overflow: auto;
    }
    th, td {
        padding: 10px;
        font-size: 14px;
    }
    
    button {
        font-size: 12px;
    }
    #events {
        padding: 0;
    }

    .action-btns{
        grid-template-columns: repeat(1,1fr);
        gap: .5rem;
    
    }
}


@media (max-width: 490px){
    .table-container {
        overflow: auto;
    }
    table {
        overflow: auto;
    }
}



@media (min-width: 490px) and (max-width: 765px) {
    #events {
        padding: 0rem;
    }
}
